{% extends 'Registration/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block login %}
				<span class="login100-form-title p-b-41">
					Register
				</span>
				{% endblock login %}

{% block base_block %}
<form method="POST" class="login100-form validate-form p-b-33 p-t-5">
	{{form.error}}
	{% csrf_token %}
		<div class="wrap-input100 validate-input" data-validate = "Enter username">
			{% render_field form.username|append_attr:"class:input100" type="text" name="username" placeholder="Username"%}
			<span class="focus-input100" data-placeholder="&#xe82a;"></span>
		</div>

		<br>
		<div class="wrap-input100 validate-input" data-validate="Enter password">
			{% render_field form.password|append_attr:"class:input100" type="password" name="pass" placeholder="Password" %}
			<span class="focus-input100" data-placeholder="&#xe80f;"></span>
		</div>
		<br>
		<div class="wrap-input100 validate-input" data-validate="Enter password">
			{% render_field form.password_repeat|append_attr:"class:input100" type="password" name="pass" placeholder="Repeat Password" %}
			<span class="focus-input100" data-placeholder="&#xe80f;"></span>
		</div>
		<div class="container-login100-form-btn m-t-32">
			<button type="submit" value="Register" class="login100-form-btn">
				Register
			</button>
		</div>
</form>
<br>
<p style="color: aliceblue; text-align:center;">Already have an account?<a style="color: blue;" href="{% url 'login' %}">Click Here</a> to Log In </p>




{% endblock %}